.app-container {
  text-align: center;
  width: 40vw;
}


#input-form {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}

#input-form  label {
  width: 30%;
}

#iknput-form  input {
  width: 70%;
}