.app-container {
  margin: 20px auto;
  text-align: center;
  width: 34vw;
  padding: 10px;
  outline: 2px solid blueviolet;
}

/* .app-container summary {
  text-align: left;
} */

#input-form {
  margin: 10px -10px 10px -10px;
  padding: 10px 10px;
  /* height: 14vh; */
  display: flex;
  /* flex-wrap: wrap; */
  align-items: stretch;
  justify-content: space-evenly;
  flex-direction: column;

  /* margin: 0px -10px; */
  outline: 2px solid blueviolet;
}

#input-form div {
  display: flex;
  margin: 5px;
  justify-content: space-between;
}

#input-form div:has(button) {
  display: flex;
  justify-content:center;
}
#input-form div > button {
  margin-right: 5px;
}


#input-form  label {
  width: 30%;
}

#iknput-form  input {
  width: 70%;
}