.app-container {
  margin: 20px auto;
  text-align: center;
  width: 34vw;
  padding: 10px;
  outline: 2px solid blueviolet;
}



#input-form {
  margin: 10px -10px 10px -10px;
  padding: 10px 10px;
  /* height: 14vh; */
  display: flex;
  /* flex-wrap: wrap; */
  align-items: stretch;
  justify-content: space-evenly;
  flex-direction: column;

  /* margin: 0px -10px; */
  outline: 2px solid blueviolet;
}

#input-form div {
  display: flex;
  margin: 5px;
  justify-content: space-between;
}

#input-form div:has(button) {
  display: flex;
  justify-content:center;
}
#input-form div > button {
  margin-right: 5px;
}


.list-items li {
  list-style-type: none;
}


.basket-item {
  display: flex;
  justify-content: space-between;
}

.basket-item button {
  visibility: hidden;
}
.basket-item:hover button {
  visibility: visible;
  /* outline: 2px solid red; */
}


#basket-total {
  outline: 2px solid blueviolet;
  margin: 10px -10px;
}


.subtitle {
  font-weight: 600;
}


.empty-content-text {
  color: slategrey;
}

.warning-message {

}